absl-py==0.9.0
asgiref==3.2.3
astor==0.8.1
bleach==1.5.0
cycler==0.10.0
Django==3.0.2
gast==0.3.3
grpcio==1.26.0
gunicorn==20.0.4
h5py==2.10.0
html5lib==0.9999999
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
django-heroku==0.3.1
numpy==1.14.5
opencv-contrib-python==3.3.0.9
opencv-python==3.3.0.9
protobuf==3.11.2
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
scipy==1.4.1
six==1.14.0
sqlparse==0.3.0
tensorboard==1.10.0
tensorflow==1.10.0
tensorflow-tensorboard==0.1.8
termcolor==1.1.0
Werkzeug==0.16.0
django-crispy-forms==1.8.1